
/*-------------------------------------------*/
/* ABOUT RACC COLLEGE SECTION */
/*-------------------------------------------*/

#about-racc-col0.racc-info-col{
    width: 23.33%;
    @include phone {
      width: 100vw;
    }
    @include tablet {
      width: 100vw;
    }
}
#about-racc-col1.racc-info-col {
    width: 59.33%;
    @include phone {
      width: 100vw;
    }
    @include tablet {
      width: 100vw;
    }
}

.about-racc-college {
  //height: 1320px;
  height: auto;
  .about-racc-college-background{
    background-image: url(../img/racc-college.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position-y: -253px;
    height: 742px;
    @include phone {
      background-image: none;
      display: none;
    }
    @include tablet {
      background-image: none;
      display: none;
    }
  }
  .about-racc-content {
    padding-top: 0px;
    margin-top: -136px;
    @include phone {
      margin-top: 0px;
    }
    @include tablet {
      margin-top: 0px;
    }
  }
  .racc-info-row {
    @include inline-flex;
    @include phone {
      @include flexbox;
      @include flex-flow(column-reverse);
    }
    @include tablet {
      @include flexbox;
      @include flex-flow(column-reverse);
    }
  }
  #about-racc-col0 {
    background: $color-red;
    h1 {
      padding-top: 116px;
      padding-left: 40px;
      padding-right: 58px;
      padding-bottom: 25px;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 35px;
      color: $color-white;
      @include phone {
        font-size: 24px;
        padding-bottom: 18px;
        padding-top: 46px;
        padding-left: 19px;
      }
      @include tablet {
        font-size: 24px;
        padding-bottom: 18px;
        padding-top: 46px;
        padding-left: 19px;
      }
    }
    p {
      font-size: 17.7px;
      font-weight: 400;
      padding-left: 42px;
      padding-right: 42px;
      line-height: 1.7;
      color: $color-white;
      @include phone {
        font-size: 13px;
        padding-left: 18px;
        line-height: 1.5;
        letter-spacing: 0.8px;
      }
      @include tablet {
        font-size: 13px;
        padding-left: 18px;
        line-height: 1.5;
        letter-spacing: 0.8px;
      }
    }
    .racc-video {
      display: none;
    }
  }

  #about-racc-col1 {
    .racc-video {
        height: 531px;
        background-image: url(../img/img5.png);
        background-repeat: no-repeat;
        background-origin: content-box;
        background-position-x: -35px;
        background-position-y: -14px;
        @include phone {
          height: 233px;
          width: 100vw;
          padding-left: 25px;
          padding-right: 10px;
          padding-top: 2px;
        }
        @include tablet {
          height: 262px;
          width: 100vw;
          padding-left: 25px;
          padding-right: 10px;
          padding-top: 2px;
        }
      a {
        img {
          padding: 192px 400px;
          @include phone {
            padding: 42px 105px;
          }
          @include tablet {
            padding: 55px 37vw;
          }
          @include wide {
            padding: 191px 22vw;
          }
        }
      }
    }
    h1 {
      color: $color-gray-two;
      font-weight: 100;
      font-size: 35px;
      text-transform: uppercase;
      padding-top: 30px;
      padding-left: 30px;
      padding-bottom: 14px;
      word-spacing: 1px;
      @include phone {
        font-size: 24px;
      }
      @include tablet {
        font-size: 24px;
      }
    }
    p {
      font-size: 17px;
      font-weight: 400;
      line-height: 1.8;
      padding-left: 30px;
      @include phone {
        font-size: 14px;
        line-height: 1.7;
        padding-left: 37px;
        padding-right: 31px;
      }
      @include tablet {
        font-size: 14px;
        line-height: 1.7;
        padding-left: 37px;
        padding-right: 31px;
      }
    }
  }
}
