@import 'standard-settings';
@import 'flex';


/*-------------------------------------------*/
/* BASIC SETTINGS */
/*-------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*DEBUG*/
  /*background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;*/
}

html {
  @include standard-settings;
  //width: 100vw;
  font-size: 15px;
}

h1,
h2,
h3,
h4 {
  font-family: $title-font;
}

p {
  font-family: $content-font;
}
