/*-------------------------------------------*/
/* GETTING CONNECTED SECTION */
/*-------------------------------------------*/

/* ---- GENERAL ASSETS ---- */

@mixin social-media {
  width: susy-span(4);
  height: 50px;
  position: absolute;
  z-index: 1;
  text-align: center;
  @include phone {
    width: 30%;
  }
  a {
    font-family: $simbols-font;
    color: $color-red;
    font-size: 24px;
    background-color: $color-white;
    border-radius: 25px;
    padding: 8px 10px;
  }
}

@mixin social-instagram-bar($top, $left) {
    padding-top: $top;
    padding-left: $left;
    color: $color-white;
    font-size: 15px;
    font-weight: 600;
}

@mixin social-facebook-bar($top, $left) {
    padding-top: $top;
    padding-left: $left;
    color: $color-white;
    font-size: 15px;
    font-weight: 600;
}

@mixin social-twitter-bar {
     background-color: #F0F0F2;
     height: 397px;
     .message, .social-twitter {
       span,
       a {
         color: $color-red;
       }
     }
     .message p {
       font-size: 16.5px;
       line-height: 1.2;
       //padding-top: 153px;
       //padding-left: 36px;
       //padding-right: 40px;
       padding: 130px 40px;
       color: $color-gray-one;
       @include phone {
          //padding-top: 136px;
       }
       a {
         &:hover {
           text-decoration: underline;
         }
       }
     }
     .social-twitter {
       p {
         //padding-top: 106px;
         //padding-left: 17px;
         font-size: 16px;
         @include phone {
           //padding-top: 116px;
         }
         span {
           padding-left: 40px;
           &::before {
             content: "\f099";
             font-size: 28px;
             font-family: $simbols-font;
             padding-right: 80px;
           }
           @include phone {
             padding-left: 89px;
           }
         }
       }
     }
}

.media-message {
  font-size: 16px;
  width: 200px;
  line-height: 0;
}

.center-loading {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
  }
}
/* ---- END GENERAL ASSETS ---- */

.get-connected {
  width: 100%;
  margin-top: 300px;
  @include phone {
    margin-top: 350px;
  }
}

.get-connected-content {
    @include inline-flex;
    @include phone {
      @include flexbox;
      @include flex-flow(column);
    }
    @include tablet {
      @include flexbox;
      @include flex-flow(column);
    }
    @include wide {
      @include flexbox;
      @include flex-flow(column);
    }
}

.first-col,
.second-col,
.third-col,
.fourth-col {
  width: susy-span(3);
  @include phone {
    width: 100%;
  }
  @include tablet {
    @include inline-flex;
    width: 100%;
  }
  @include wide {
    @include inline-flex;
    width: 100%;
  }
}

.first-col {
  @include flex;
    h1 {
      text-transform: uppercase;
      background-color: $color-red;
      color: $color-white;
      font-weight: 300;
      font-size: 50px;
      height : 300px;
      line-height: 1;
      word-spacing: 3px;
      padding-top: 40px;
      padding-left: 37px;
      @include phone {
        font-size: 40px;
        height : 275px;
        line-height: 1.15;
        word-spacing: 6px;
        padding-top: 36px;
        padding-left: 35px;
      }
    }
    .social {
      background-color: $color-red;
      height: 130px;
      img {
        padding-top: 35px;
        padding-left: 41px;
      }
    }
    .connected {
      @include tablet {
        width: 50%;
      }
      @include wide {
        width: 50%;
      }
    }
    .stairs {
      height: 397px;
      position: relative;
      overflow-y: hidden;
      @include phone {
        height: 374px;
      }
      @include tablet {
        height: 400px;
        width: 50%;
      }
      @include wide {
        height: 400px;
        width: 50%;
      }
    .social-instagram {
      position: relative;
      p {
        @include social-instagram-bar(350px,40px);
        @include phone {
          @include social-instagram-bar(322px,44px);
        }
        span {
          &::before {
            content: "\f16d";
            font-size: 28px;
            font-family: $simbols-font;
            padding-right: 80px;
          }
        }
      }
    }
  }
}

.social {
  @include flexbox;
  @include flex-flow(column);
  margin-top: -37px;
  position: relative;
  .social-row1 {
    .social-media-facebook {
      @include social-media ;
      a {
        padding: 8px 13px;
        &::after{
          content: '\f09a';
        }
      }
    }
    .social-media-twitter {
      margin-left: 33%;
      @include social-media ;
      a {
        padding: 8px 9px;
        &::after{
          content: '\f099';
        }
      }
    }
    .social-media-youtube {
      margin-left: 66%;
      @include social-media ;
      a {
        &::after{
          content: '\f167';
        }
      }
    }
  }
  .social-row2 {
    margin-top: 60px;
    .social-media-linkedin {
      @include social-media ;
      a {
        &::after{
          content: '\f0e1';
        }
      }
    }
    .social-media-snapchat {
      margin-left: 33%;
      @include social-media ;
      a {
        &::after{
          content: '\f2ab';
        }
      }
    }
    .social-media-instagram {
      margin-left: 66%;
      @include social-media ;
      a {
        &::after{
          content: '\f16d';
        }
      }
    }
  }
}

.social-img-background {
  position: absolute;
  z-index: -0;
  height: 100%;
  img {
    height: 100%;
    width: 100%;
  }
}

.second-col {
  @include flex;
  .back-to-school {
    height: 400px;
    position: relative;
    @include phone {
      height: 376px;
    }
    @include tablet {
      width: 50%;
    }
    @include wide {
      width: 50%;
    }
    .social-facebook {
      position: relative;
      background-color: transparent;
      &:hover{
        background-color: $color-white-transparent;
        height: 100%;
      }
      p {
        @include social-facebook-bar(353px,40px);
        @include phone {
          @include social-facebook-bar(0px,44px);
        }
        padding-top: 0px;
        padding-right: 40px;
        height: 400px;
        span.media-message {
          padding-right : 0px;
          display: inline-block;
          height: 350px;
          width: 300px;
          line-height: 1.3;
          padding-top: 305px;
          @include phone {
            height: 322px;
            padding-top: 280px;
          }
        }
        span.logo-social-instagram {
          display: inline-block;
          height: 50px;
          &::before {
            content: "\f09a";
            font-size: 28px;
            font-family: $simbols-font;
            font-weight: 500;
            padding-right: 80px;
          }
        }
      }
    }
  }
  .stairs {
    height: 397px;
    position: relative;
    overflow-y: hidden;
    @include phone {
      height: 374px;
    }
    @include tablet {
      height: 400px;
      width: 50%;
    }
    @include wide {
      height: 400px;
      width: 50%;
    }
  .social-instagram {
    position: relative;
    p {
      @include social-instagram-bar(350px,40px);
      @include phone {
        @include social-instagram-bar(322px,44px);
      }
      span {
        &::before {
          content: "\f16d";
          font-size: 28px;
          font-family: $simbols-font;
          padding-right: 80px;
        }
      }
    }
  }
}
.advice {
  @include phone{
    height: 399px;
  }
  @include social-twitter-bar;
}
}

.third-col {
  @include flex;
  .advice {
    @include social-twitter-bar;
    height: 397px;
    &:hover{
      background-color: transparentize($color-red, 0.5);
    }
    @include phone {
      height: 399px;
    }
    @include tablet {
      height: 400px;
      width: 50%;
    }
    @include wide {
      height: 400px;
      width: 50%;
    }
    .message p {
      //padding-top: 138px;
      @include phone {
        //padding-top: 137px;
      }
    }
    .social-twitter p{
      //padding-top: 119px;
      @include phone {
        //padding-top: 114px;
      }
    }
  }
  .racc-entrance {
      height: 400px;
      position: relative;
      overflow-y: hidden;
      @include phone {
        height: 375px;
      }
      @include tablet {
        width: 50%;
      }
      @include wide {
        width: 50%;
      }
      .social-instagram {
        position: relative;
        p {
          padding-top: 358px;
          @include social-instagram-bar(350px,40px);
          @include phone {
            @include social-instagram-bar(322px,44px);
          }
          span {
            &::before {
              content: "\f16d";
              font-size: 28px;
              font-family: $simbols-font;
              padding-right: 80px;
            }
          }
        }
      }
    }
  }
  .fourth-col {
    @include flex;
    .racc-product {
      height: 397px;
      position: relative;
      overflow-y: hidden;
      @include phone {
        height: 374px;
      }
      @include tablet {
        width: 50%;
        height: 400px;
      }
      @include wide {
        width: 50%;
        height: 400px;
      }
      .social-facebook {
        position: relative;
        background-color: transparent;
        &:hover{
          background-color: $color-white-transparent;
          height: 100%;
        }
        p {
          @include social-facebook-bar(353px,40px);
          @include phone {
            @include social-facebook-bar(0px,44px);
          }
          padding-top: 0px;
          padding-right: 40px;
          height: 400px;
          span.media-message {
            padding-right : 0px;
            display: inline-block;
            height: 350px;
            width: 300px;
            line-height: 1.3;
            padding-top: 305px;
            @include phone {
              height: 322px;
              padding-top: 280px;
            }
          }
          span.logo-social-instagram {
            display: inline-block;
            height: 50px;
            &::before {
              content: "\f09a";
              font-size: 28px;
              font-family: $simbols-font;
              font-weight: 500;
              padding-right: 80px;
            }
          }
        }
      }
    }
    .advice {
      &:hover{
        background-color: transparentize($color-red, 0.5);
      }
      @include phone {
        height: 399px;
      }
      @include tablet {
        width: 50%;
      }
      @include wide {
        width: 50%;
      }
      @include social-twitter-bar;
    }
  }
  .fourth-col .advice {
    height: 400px;
  }
