/*-------------------------------------------*/
/* HEADER SECTION */
/*-------------------------------------------*/

@mixin nav-bar($color-font, $color-bg, $color-bg-hover, $alto, $tam-fuente, $peso) {
  background-color: $color-bg;
  @include inline-flex;
  @include flex-wrap(wrap);
  float: left;
  height: $alto;
  //width: 1163px;
  width: 70vw;
  overflow: hidden;
  list-style: none;
  @include align-items(center);
  @include phone {
    display: none;
  }
  @include tablet {
    display: none;
  }
  li {
    padding: 0px 0;
    @include align-self(auto);
    &:hover {
      background-color: $color-bg-hover;
      line-height: 3;
      a {
        font-weight: 400;
      }
    }
    a {
      text-decoration: none;
      color: $color-font;
      font-size: $tam-fuente;
      font-weight: $peso;
      letter-spacing: 2px;
    }
  }
}

header {
  width: 100%;
  .row-header {
    position: relative;
    z-index: 2;
    width: susy-span(12);
    .start-line {
      display: none;
      @include phone {
        display: block;
        position: absolute;
        border: 0;
        height: 7px;
        width: 100%;
        background-color: $color-red;
        span {
          content: ".";
          visibility: hidden;
        }
      }
      @include tablet {
        display: block;
        position: absolute;
        border: 0;
        height: 7px;
        width: 100%;
        background-color: $color-red;
        span {
          content: ".";
          visibility: hidden;
        }
      }
    }
    background-color: $color-white-transparent;
    margin: 0 auto;
    text-transform: uppercase;
    height: auto;
    @include inline-flex;
    .site-brand-center-content {
      margin: 0 auto;
    }
    .row-header-logo {
      @include inline-flex;
      @include align-items(center);
      //padding-left: 52px;
      /*padding-left: 10vw;
      padding-right: 10vw;*/
      width: 30vw;
      @include phone {
        //padding-left: 75px;
        padding-left: 0px;
        padding-top: 4px;
        width: 125vw;
      }
      @include tablet {
        padding-left: 0px;
        padding-top: 4px;
        width: 390vw;
      }
      div {
        @include phone {
          //padding-left: 10vw;
          //margin-right: 1vw;
        }
        @include tablet {
          //padding-left: 10vw;
          //margin-right: 1vw;
        }
        img {
          @include align-self(auto);
          width: 173px;
          height: auto;
          @include phone {
              width: 95px;
          }
          @include tablet {
            width: 95px;
          }
        }
      }
    }
    .row-header-nav {
      font-family: $title-font;
      text-decoration: none;
      //width: susy-span(6);
      width: susy-span(10);
      //padding-left: 212px;
      @include phone {
        //padding-left: 100px;
        padding-left: 0px;
      }
      @include tablet {
        //padding-left: 100px;
        padding-left: 0px;
      }
      .search-link {
        display: none;
        @include phone {
          display: block;
          position: absolute;
          padding-top: 16px;
          a {
            &::before {
              content: '\f002';
              color: $color-black;
              font-family: $simbols-font;
              font-size : 28px;
            }
          }
        }
        @include tablet {
          display: block;
          position: absolute;
          padding-top: 16px;
          a {
            &::before {
              content: '\f002';
              color: $color-black;
              font-family: $simbols-font;
              font-size : 28px;
            }
          }
        }
      }
      label {
        margin: 0 40px 0 0;
        padding: 0px 166px;
        font-size: 37px;
        line-height: 72px;
        width: 26px;
        display: none;
        @include phone {
          display: block;
          margin: 5px -6px 0 0;
          padding: 0px 56px;
          line-height: 62px;
          cursor: pointer;
        }
        @include tablet {
          display: block;
          margin: 5px -6px 0 0;
          padding: 0px 56px;
          line-height: 62px;
          cursor: pointer;
        }
      }
      #toggle {
        display: none;
        @include phone {
          #toggle:not(:checked){ //~ .menu-container {
            display: none;
          }
        }
        @include tablet {
          #toggle:not(:checked){ //~ .menu-container {
            display: none;
          }
        }
      }

      .second-nav {
        @include nav-bar($color-white, $color-red, $color-dark-red, $alto:46px, $tam-fuente:12px, $peso:300);
        margin-left: 0;
        margin-bottom: 0;
        position: absolute;
        z-index: 1;
        width:100%;
        li {
          padding-left: 45px;
          padding-right: 1.8vw;
          a {
            word-spacing: 2px;
          }
          &:hover {
            line-height: 3.1;
          }
          &:last-child {
            margin-bottom: 3px;
            a {
              &::after {
                content: '\f002';
                padding-left: 26px;
                font-family: $simbols-font;
                color: $color-white;
                font-weight: 400;
                font-size: 19px;
              }
            }
            &:hover {
              line-height: 2.6;
            }
          }
        }
      }
      .first-nav {
        background-color: inherit;
      }
      .menu-container {
        //width: 1163px;
        width: 100%;
        margin-top: 46px;
        @include phone {
          display: none;
        }
        @include tablet {
          display: none;
        }
      }
      .menu {
        li {
          padding-left: 3px;
          padding-right: 1.5vw;
          height: 60px;
          &:hover {
            background-color: $color-white;
            line-height: 4;
          }
          a {
            word-spacing: 2px;
            letter-spacing: 1px;
            color: $color-black;
            font-weight: 600;
          }
        }
        ul {
          border-color: $color-white;
          width: susy-span(2.5);
          @include phone {
            display: none;
          }
          @include tablet {
            display: none;
          }
          li {
            vertical-align: middle;
            height: auto;
            padding-left: 25px;
            padding-right: 0.5px;
            //padding-top: 5px;
            //padding-bottom: 5px;
            &:hover {
              background-color: $color-gray-hover;
              border-color: $color-gray-hover;
            }
            a {
              font-size: 10.5px;
              font-weight: 500;
              &:hover {
                font-weight: 600;
              }
            }
          }
        }
      }
      .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
        visibility: hidden;
      }
    }
  }

  .slider-container {
    margin-top: -106px;
    &:hover {
      .slick__arrow {
        visibility: visible;
      }
    }
    .slick__arrow {
      top: 42.6%;
      visibility: hidden;
      @include phone {
        top: 50.6%;
        visibility: hidden;
      }
    }
    .slick-prev {
      left: 1.1%;
      @include phone {
        left: 2.8%;
      }
      &::before {
        content: url('../img/prev.png');
        font-family: $simbols-font;
        color: $color-white;
        font-weight: 100;
        font-size: 60px;
      }
    }
    .slick-next {
      right: 1.8%;
      @include phone {
        //right: 3.8%;
        right: 6vw;
      }
      @include tablet {
        right: 6vw;
      }
      &::before {
        content: url('../img/next.png');
        font-family: $simbols-font;
        color: $color-white;
        font-weight: 100;
        font-size: 60px;
      }
    }
    .slick-arrow {
      width: 52px;
      height: 52px;
    }
  }

  .slide__caption {
    h1 {
      width: 500px;
      line-height: 1;
      @include phone {
        width: 300px;
      }
      @include tablet {
        width: 400px;
      }
      a {
        color: $color-white;
        font-size: 44px;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing: -2.5px;
        line-height: 1.1;
        padding-bottom: 28px;
        @include phone {
          font-size: 33px;
        }
        @include tablet {
          font-size: 35px;
        }
        &:hover {
          color: $color-red;
        }
      }
    }
    p {
      width: 500px;
      color: $color-white;
      font-weight: 400;
      line-height: 1.5;
      margin-left: -3px;
      @include phone {
        display: none;
      }
      @include tablet {
        display: none;
      }
      a {
        color: $color-white;
      }
    }
  }

  .slide--caption--bottom .slide__caption {
    top: 33.7%;
    left: 9.7%;
    z-index: 1;
    @include phone {
      position: absolute;
      top: 66.2%;
      left: 7.8%;
    }
    @include tablet {
      position: absolute;
      top: 66.2%;
      left: 7.8%;
    }
    @include wide {
      top:0%;
      left:0%;
      transform: translate(16%,-279%);
    }
  }

  .slick-dots {
    width: auto;
    bottom: 657px;
    left: 170px;
    @include phone {
      bottom: 14px;
      left: 35vw;
    }
    @include tablet {
      bottom: 14px;
      left: 35vw;
    }
    @include wide {
      bottom: 44%;
    }
    li {
      border-top: 2px solid $color-white;
      width: 51px;
      height: 41px;
      @include phone {
        width: 24px;
        height: 14px;
        margin: 0 8px;
      }
      @include tablet {
        width: 24px;
        height: 14px;
        margin: 0 8px;
      }
      &:hover {
        border-top: 2px solid $color-red;
      }
      button {
        visibility: hidden;
        width: 51px;
        height: 41px;
        @include phone {
          width: 24px;
          height: 14px;
        }
        @include tablet {
          width: 24px;
          height: 14px;
        }
      }
    }
    li.slick-active {
      border-top: 2px solid $color-red;
    }
  }

  .slick-dotted.slick-slider {
    @include phone {
      margin-bottom: 11px;
    }
    @include tablet {
      margin-bottom: 11px;
    }
  }

  .slick img {
    @include phone {
      height: 485px;
    }
    @include tablet {
      height: 485px;
    }
  }

  .slick-img-overlay {
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.7));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    @include phone {
      background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5));
      height: 485px;
    }
    @include tablet {
      background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5));
      height: 485px;
    }
  }
  .fullwidth {
    width: 100vw;
    margin-left: auto;
  	margin-right: auto;
  	max-width: initial;
  }
  .slider {margin: 0;}
  .slider .slide {width: 100%}
}
