.contact-message-need-more-info-form{
  margin-top: -1px;
  margin-bottom: -6px;
} //.contact-message-form .contact-form .contextual-region
/*-------------------------------------------*/
/* NEED MORE INFO SECTION */
/*-------------------------------------------*/
.more-info-container {
  @include inline-flex;
  width: susy-span(12);
  position: relative;
}
.blank-container {
  width: susy-span(3.5);
  @include flex-grow(0)
  @include phone {
    width: 0%;
  }
}
.need-more-info {
   height: 258px;
   width: susy-span(8.5);
   @include flex-grow(1);
   padding-left: 20px;
   background-color: $color-gray-one;
   @include phone {
     height: 300px;
   }
   label {
     display: none;
   }
   .info-header {
     h2 {
       text-transform: uppercase;
       color: $color-white;
       font-size: 34px;
       font-weight: 400;
       padding-top: 51px;
       padding-left: 5px;
       padding-bottom: 30px;
       letter-spacing: 1px;
       word-spacing: -2px;
       @include phone {
          font-size: 24px;
          padding-top: 28px;
          padding-bottom: 5px;
          letter-spacing: 0px;
          word-spacing: -2px;
        }
   }
  }
  form {
    @include inline-flex;
    @include phone {
      display: block;
    }
  }
  input[type=text] {
    line-height: 5.5;
    font-size: 12px;
    font-family: $title-font;
    background: $color-white;
    color: $color-gray-three;
    border: 0px;
    border-radius: 3px;
    padding: 26px 20px;
    margin-left: 5px;
    width: 12vw;
    @include phone {
      line-height: 2.5;
      margin-right: 7px;
      margin-top: 10px;
      padding: 19px 9px;
      border-radius: 0px;
      width: 80vw;
    }
  }
  input[type=submit],
  .button {
    font-size: 14px;
    font-family: $title-font;
    background: none;
    color: $color-white;
    border: 1px solid $color-white;
    border-radius: 2px;
    padding: 18px 0px;
    margin-top: 8px;
    margin-left: 5px;
    width: 9vw;
    @include phone {
      line-height: 2.5;
      margin-right: 7px;
      margin-top: 10px;
      padding: 2px 0px;
      border-radius: 0px;
      width: 25vw;
    }
    &:hover {
      background-color: $color-white-transparent;
    }
  }
}
.contact-help {
  position: absolute;
  z-index: 1;
  margin-top: -132px;
  margin-left: 75%;
  @include phone {
    margin-top: -85px;
    margin-left: 35%;
  }
  p {
    color: $color-white;
    font-family: $title-font;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 37px;
    @include phone {
      font-size: 18px;
      margin-left: -4px;
      padding-top: 9px;
      padding-left: 0px;
    }
    span {
      margin-left: 16px;
      font-weight: 600;
      font-size: 35px;
      @include phone {
        margin-left: 0px;
        font-weight: 600;
        font-size: 21px;
      }
    }
  }
}
