/*-------------------------------------------*/
/* SIDE BLOCK SECTION */
/*-------------------------------------------*/

.side-block {
  @include inline-flex;
  //position: absolute;
  position: relative;
  z-index: 2;
  //margin-top: -30.7%;
  //padding-left: 33.6%;
  margin-top: -6.7%;
  padding-left: 26.6%;
  transform: translate(0px,-461px);
  -ms-transform: translate(0px,-461px);
  -webkit-transform: translate(0px,-461px);
  @include phone {
    @include flexbox;
    @include flex-flow(column);
    margin-top: 0%;
    padding-left: 0%;
    transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
  }
  .left-side, .right-side {
    text-transform: uppercase;
    @include inline-flex;
    @include flex-flow(row);
    h2 {
      a {
        color: $color-white;
        font-weight: 100;
        font-size: 35px;
        font-weight: 200;
        text-decoration: none;
        @include phone {
          font-size: 24px;
        }
        i {
          display: none;
          @include phone {
            display: inline-block;
            position: absolute;
          }
        }
      }
    }
  }
  .left-side {
    width: susy-span(3.82);
    @include phone {
      //width: 100%;
      width: $max-width-mobile;
    }
    .center-content {
      @include flexbox;
      @include flex-wrap(wrap);
      @include phone {
        @include flex-direction(column);
        margin-left: 0px;
      }
      .first, .second, .third , .fourth {
        height: 194px;
        width: 363.54px;
        list-style: none;
        &:hover, a:active {
          background-color: $color-red;
        }
        @include phone {
          width: 100%;
          height: 84.3px;
          &:hover {
            &:first-child {
              border-top: 1px solid $color-black;
              h2 {
                padding-top: 27px;
              }
            }
          }
          a {
            &::after {
              content: "\f107";
              font-family: $simbols-font;
              color: $color-white;
              font-weight: 600;
            }
          }
        }
      }
      .first {
        background-color: $color-gray-one;
        h2 {
          padding-top: 75px;
          padding-left: 95px;
          @include phone {
            padding-top: 28px;
            padding-left: 123px;
          }
          a {
            @include phone {
              &::after {padding-left: 91px;}
            }
          }
        }
      }
      .second {
        background-color: $color-gray-two;
        h2 {
          padding-top: 75px;
          padding-left: 82px;
          @include phone {
            padding-top: 28px;
            padding-left: 111px;
          }
          a {
            @include phone {
              &::after {padding-left: 84px;}
            }
          }
        }
      }
      .third {
        background-color: $color-gray-three;
        h2 {
          padding-top: 57px;
          padding-left: 65px;
          padding-right: 10px;
          @include phone {
            padding-top: 14px;
            padding-left: 33px;
            padding-right: 49px;
            text-align: center;
          }
          a {
            @include phone {
              &::after {
                padding-left: 80px;
                margin-top: -15px;
              }
            }
          }
        }
      }
      .fourth {
        background-color: $color-gray-four;
        h2 {
          padding-top: 77px;
          padding-left: 63px;
          @include phone {
            padding-top: 28px;
            padding-left: 97px;
          }
        }
        a {
          @include phone {
            &::after {padding-left: 71px;}
          }
        }
      }
    }
  }
  .right-side {
    width: susy-span(7.49);
    transform: translate(382px, -791px);
    @include flex-direction(column);
    @include phone {
      visibility: hidden;
    }
    .up {
      //background-image: url(../img/comunity.png);
      background-repeat: no-repeat;
      background-origin: content-box;
      background-position-x: -5px;
      background-position-y: -48px;
      height: 388px;
      width: 811px;
    }
    .down {
      @include inline-flex;
      width: 811px;
      background-color: $color-white;
      .down-left-side, .down-right-side {
        h2 {
          font-family: $title-font;
          color: $color-gray-five;
          font-size: 35px;
          font-weight: 300;
          padding-top: 64px;
          padding-bottom: 42px;
        }
        p {
          text-transform: none;
        }
      }

      .down-left-side {
        h2 {
           padding-left: 46px;
        }
        .columns-align {
          @include flexbox;
          @include flex-direction(columns);
          width: 500px;
          .left-col, .right-col {
            p {
              color: $color-red;
              line-height: 2.5;
              font-size: 17px;
              font-weight: 400;
            }
          }
          .left-col {
            width: susy-span(6.9);
            p {
              padding-left: 48px;
            }
          }
          .right-col {
            width: susy-span(5.1);
          }
        }
      }
      .down-right-side {
        width: 400px;
        h2 {
          padding-left: 40px;
        }
        p {
          padding-top: 8px;
          padding-left: 39px;
          padding-right: 35px;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
  }
}
